<section class="hero">
  <div class="container">
    <h1 class="hero__title">Donut Masterclass with the Donut King</h1>
    <h2 class="hero__subtitle">Hosted by Eva Green</h2>
    <a class="button button__hero link" href="#Registration"> Register </a>
    <ul class="social-links social-links__hero list">
      <li class="social-links__item">
        <a class="link social-links__link" href="" target="_blank" rel="noreferrer noopener">
          <svg class="social-links__icon" width="16" height="16">
            <use href="/images/svg/symbol-defs-icon.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social-links__item">
        <a class="link social-links__link" href="" target="_blank" rel="noreferrer noopener">
          <svg class="social-links__icon" width="16" height="16">
            <use href="/images/svg/symbol-defs-icon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-links__item">
        <a class="link social-links__link" href="" target="_blank" rel="noreferrer noopener">
          <svg class="social-links__icon" width="16" height="16">
            <use href="/images/svg/symbol-defs-icon.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
